.toggle-switch {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 80px;
    user-select: none;
    transition: background-color 0.3s;
  }
  
  .toggle-switch .switch {
    text-align: center;
    font-weight: bold;
    color: rgb(45, 39, 39);
    width: 40px;
    border-radius: 50%;
    transition: transform 0.3s;
    line-height: 30px;
  }
  
  .toggle-switch .switch.on {
    transform: translateX(40px);
  }
  
  .toggle-switch .switch.off {
    transform: translateX(0);
  }
  